*{
    margin:0;
    padding:0;
}
.container{
/* width:1200px; */
/* height:1800px; */
background-color:rgb(94,26,184) ;
color:white;
border:2px solid palegreen;
background-image:url('index.jpg');
/* background-repeat:no-repeat; */
/* background-repeat:repeat-x; */
/* background-repeat:repeat-y; */
background-size:cover;
/* background-size:contain; */
/* background-position: top centre; */
background-position:right;
background-attachment: fixed;

}
